@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?59yon4');
  src:  url('../fonts/icomoon.eot?59yon4#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?59yon4') format('truetype'),
    url('../fonts/icomoon.woff?59yon4') format('woff'),
    url('../fonts/icomoon.svg?59yon4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e9bd";
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Fjalla One', sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 52px;
  line-height: 1.5em;
  letter-spacing: -.2px;
  margin:0 30px;
  color: #ffffff;
  text-shadow: 0 0 10px rgba(0,0,0,.5);
}

h2 {
  margin: 30px;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  letter-spacing: 1;
  margin-bottom: 40px;
}

.header {
  background-color: #1b2127;
  color: white;
  display: flex;
  height: 90px;
  align-items: center;
  justify-content: space-between;
}

.headerContainer {
  flex: 1;
  margin: 0 auto;
  flex-wrap: wrap;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
}

.header a {
  color: white;
  text-decoration: none;
}

.logo {
  margin-left: 30px;
}

.menu {
  height: inherit;
}

.header ol {
  display: flex;
  height: inherit;
}

.header ol li {
  height: inherit;
}

.header a {
  display: flex;
  align-items: center;
  height: inherit;
  padding: 0 10px;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure {
  margin: 0;
}


.hero {
  display: flex;
  align-items: center;
  height: 300px;
  background-image: url('../img/writing.jpg');
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 70%;
  background-size: cover;
}

.heroContainer {
  width: 1000px;
  margin: 0 auto;
  display: inherit;
  flex-wrap: wrap;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
}

.h1-line-through {
  text-decoration: line-through;
  text-decoration-color: lightcoral;
}

.portfolio {
  background-color: #fafafa;
  padding: 20px;
}

.portfolioContainer {
  max-width: 1000px;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
}

.experiment {
  border-radius: 5px;
  margin: 20px 30px;
  padding: 20px;
  background-color:white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0 0 10px rgba(0,0,0,.2);
  border-color: transparent;
}

.experiment-title {
  font-size: 30px;
  margin-bottom: 10px;
}

.experiment-subtitle {
  margin: 0;
}

.experiment strong {
  font-family: 'Fjalla One', sans-serif;
  font-size: 18px;
}

.experiment-description {
  font-size: 20px;
}

.experiment-image {
  max-width: 100%;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,.7);
  border-color: transparent;
}

.experiment-details {
  width: 50%;
}

.experiment-imageContainer {
  width: 50%;
}

.myReadings {
  padding-top: 20px;
  background-color:#fafafa;
}

.readingContainer {
  display: flex;
  margin: 10px 30px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.reading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 50%;
  text-align: center;
  margin-bottom: 40px;
}

.reading-image {
  box-shadow: 0 0 10px rgba(0,0,0,.5);
}

.reading-text-details {
  align-self: flex-start;
  background-color: #ffffff;
  background-color: rgba(255,255,255,.8);
  width: 65%;
  margin-left: 10px;
  position: relative;
  margin-top: -153px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  border-radius: 5px;
}

.reading-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 5px;
}

.reading-description {
  text-align: justify;
  padding: 10px;
  margin-top: 0;
  line-height: 22px;
}

.reading-url {
  color: #e95657; 
  border: 2px solid;
  padding: 5px 20px;
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #282D31;
  color: white;
  height: 150px;
  flex-wrap: wrap;
}

.social {
  display: flex;
  margin-top: 64px;
}

.social-link {
  justify-content: center;
  display: inline-block;
  width: 50px;
  height: 50px;
  background-size: 50px 50px;
  margin: 0 20px;
}

.social-link.twitter {
  background-image: url('../img/twitter.svg');
}
.social-link.facebook {
  background-image: url('../img/facebook.svg');
}
.social-link.github {
  background-image: url('../img/github.svg');
}
.social-link.linkedin {
  background-image: url('../img/linkedin.svg');
}

.email-form-input {
  border-color:#1b2127;
  padding: 15px 20px 15px 50px;
  border-radius: 5px;
  border-style: solid;
  background-image: url('../img/mail.svg');
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 10px;
  width: 300px;
  font-size: 22px;
  font-weight: 100;
}

.email-form button {
  font-size: 22px;
  font-weight: 100;
  background: transparent;
  color: white;
  padding: 15px 20px;
  border-radius: 5px;
  transition: .2s;
}

.email-form button:hover {
  background: white;
  color: #282d31;
  border-color:#1b2127;
}

.footer {
  background-color: #1b2127;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footerContainer {
  margin: 0 auto;
  max-width: 1000px;
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
  flex-wrap: wrap;
}

.footer img {
  vertical-align: middle;
}

.footer a {
  color: white;
}

.brand {
  display: flex;
  height: 70px;
  width: 70px;
  margin: 20px 0;
}

.burger-button {
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color:#1b2126;
  line-height: 40px;
  text-align: center;
  position: fixed;
  z-index: 2;
  left: 5px;
  top: 5px;
  color: white;
}

@media screen and (max-width: 1024px) {
  
}

@media screen and (max-width: 768px) {
  .burger-button {
    display: block;
  }

  .header {
    display: block;
    height: auto;
  }

  .header ol {
    display: block;
  }

  .header ol li {
    height: 50px;
  }

  .header a {
    justify-content: center;
    height: 40px;
    font-size: 2em;
    text-decoration: underline;
    margin-bottom: 1.5em;
  }

  .header .logo {
    text-align: center;
  }

  .logo {
    padding-top: 10px;
    margin-left: 0;
  }

  .menu {
    position: fixed;
    background-color: rgba(27, 33, 38, .9);
    ;;
    top: 0;
    left:-100vw;
    bottom: 0;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    transition: .3s;
  }

  .menu.is-active {
    left: 0;
  }

  .hero {
    height: auto;
  }

  h1 {
    font-size: 3em;
    margin: 0 auto;
    display: block;
    width: 80%;
  }

  h2 {
    margin: 20px 0;
    text-align: center;
    font-size: 1.2em;
  }

  .portfolio {
    padding: 0;
  }

  .experiment {
    padding: 10px;
  }

  .experiment-details {
    width: 50%;
  }

  .experiment-title {
    font-size: 1.5em;
    margin-top: 0;
  }

  .experiment-url {
    font-size: 1em;
  }

  .experiment-subtitle {
    font-size: .7em;
  }

  .experiment-date {
    font-size: 1em;
  }

  .experiment-description {
    font-size: .8em;
  }

  .experiment-imageContainer {
    width: 50%;
    text-align: center;
  }

  .myReadings {
    padding-top: 5px;
  }

  h2 {
    margin: 10px 0;
  }

  .reading {
    width: 45%;
  }

  .reading-image {
    width: 100%;
  }

  .reading-text-details {
    align-self: center;
    width: 90%;
    margin-left: 0;
    padding-bottom: 20px;
  }

  .reading-title {
    margin-top: 0;
  }

  .reading-description {
    font-size: .8em;
    line-height: 1.2em;
  }

  .contact {
    height: auto;
  }

  .email-form-title {
    text-align: center;
    font-size: 2em;
  }

  .social {
    margin: 20px 0;
  }

  .footer {
    display: block;
    border:1px solid transparent;
    text-align: center;
  }

  .brand {
    display: block;
    margin: 10px auto;
  }

}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 2.5em;
    margin: 20px auto;
  }
  .experiment-details {
    width: 100%;
    font-size: 12px;
  }

  .experiment-imageContainer {
    width: 100%;
  }

  .experiment-image {
    width: 80%;
  }

  .experiment-description {
    font-size: 1.5em;
  }

  .reading {
    width: 100%;
  }

  .email-form-input {
    width: 53%;
  }

}

@media screen and (max-width: 320px) {
  h1 {
    font-size: 1.5em;
  }

  .email-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .email-form button {
    margin-top: 20px;
  }

  .social-link {
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
  }
}
